<table class="table">
    <thead>
        <tr>
            <th>Vieta</th>
            <th>Vārds</th>
            <th>Iegūtie punkti</th>
        </tr>
    </thead>
    <tbody>
        <% @quiz.total_scores.each_with_index do |score, index|%>
            <% break if index == 10%>
            <tr class="hover">
            <td><%= index + 1 %></td>
            <td><%= score.user.username.blank? ? "No name" : score.user.username %></td>
            <td><%= score.score %></td>
            </tr>
        <% end %>
    </tbody>
</table>